In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [2]:
OrderBookPlots2007_df = pd.read_csv('./resources/LKOH_SBER_GMKN_2007_10.csv')
OrderBookPlots2007_df = OrderBookPlots2007_df[(OrderBookPlots2007_df.SECCODE == 'LKOH') & 
                                              (OrderBookPlots2007_df.DATE == '2007-10-08')]
# OrderBookPlots2007_df = OrderBookPlots2007_df[OrderBookPlots2007_df.DATE.isin(['2007-10-01', '2007-10-02'])]
OrderBookPlots2007_df

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
1541751,12,13,LKOH,S,103000000,13,1,2343.97,6250,NaN,NaN,2007-10-08,0
1541762,45,46,LKOH,S,103000000,46,1,2214.00,15,NaN,NaN,2007-10-08,2
1541773,73,74,LKOH,B,103000000,74,1,1990.00,50,NaN,NaN,2007-10-08,4
1541774,75,76,LKOH,S,103000000,76,1,2200.00,10,NaN,NaN,2007-10-08,6
1541775,76,77,LKOH,B,103000000,77,1,2110.00,6,NaN,NaN,2007-10-08,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1834837,910327,910328,LKOH,S,174458000,394790,2,2176.02,1,332355821.0,2176.02,2007-10-08,79201
1834838,910328,910329,LKOH,S,174458000,395200,2,2176.70,39,332355822.0,2176.70,2007-10-08,79201
1834839,910329,910330,LKOH,B,174458000,395498,2,0.00,39,332355822.0,2176.70,2007-10-08,79201
1834841,910336,910337,LKOH,S,174459000,390647,0,2177.44,10,NaN,NaN,2007-10-08,78407
1834842,910340,910341,LKOH,B,174500000,368422,0,2167.01,200,NaN,NaN,2007-10-08,74637

In [3]:
OrderBookPlots2007_dfc = pd.read_csv('./resources/LKOH_SBER_GMKN_2007_10.csv')
OrderBookPlots2007_dfc = OrderBookPlots2007_dfc[((OrderBookPlots2007_dfc.SECCODE == 'LKOH') |
                                               (OrderBookPlots2007_dfc.SECCODE == 'SBER03')) & 
                                              ((OrderBookPlots2007_dfc.DATE == '2007-10-08') |
                                               (OrderBookPlots2007_dfc.DATE == '2007-10-09'))]
OrderBookPlots2007_df[(OrderBookPlots2007_dfc.SECCODE == 'LKOH') &
                      (OrderBookPlots2007_dfc.DATE == '2007-10-08')]

C:\Users\lt\AppData\Local\Temp\ipykernel_1396\645916739.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  OrderBookPlots2007_df[(OrderBookPlots2007_dfc.SECCODE == 'LKOH') &

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
1541751,12,13,LKOH,S,103000000,13,1,2343.97,6250,NaN,NaN,2007-10-08,0
1541762,45,46,LKOH,S,103000000,46,1,2214.00,15,NaN,NaN,2007-10-08,2
1541773,73,74,LKOH,B,103000000,74,1,1990.00,50,NaN,NaN,2007-10-08,4
1541774,75,76,LKOH,S,103000000,76,1,2200.00,10,NaN,NaN,2007-10-08,6
1541775,76,77,LKOH,B,103000000,77,1,2110.00,6,NaN,NaN,2007-10-08,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1834837,910327,910328,LKOH,S,174458000,394790,2,2176.02,1,332355821.0,2176.02,2007-10-08,79201
1834838,910328,910329,LKOH,S,174458000,395200,2,2176.70,39,332355822.0,2176.70,2007-10-08,79201
1834839,910329,910330,LKOH,B,174458000,395498,2,0.00,39,332355822.0,2176.70,2007-10-08,79201
1834841,910336,910337,LKOH,S,174459000,390647,0,2177.44,10,NaN,NaN,2007-10-08,78407
1834842,910340,910341,LKOH,B,174500000,368422,0,2167.01,200,NaN,NaN,2007-10-08,74637

In [4]:
OrderBookPlots2007_df['TRADENO'] = OrderBookPlots2007_df['TRADENO'].astype(pd.Int64Dtype())
OrderBookPlots2007_df.sort_values(by=['NO'], inplace=True)
OrderBookPlots2007_df[(OrderBookPlots2007_df.PRICE != OrderBookPlots2007_df.TRADEPRICE) &
                 pd.notnull(OrderBookPlots2007_df.TRADEPRICE)]

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
1544302,17145,17146,LKOH,S,103001000,17122,2,2179.99,40,332168465,2180.00,2007-10-08,1399
1544318,17169,17170,LKOH,S,103001000,17071,2,2178.90,10,332168477,2180.00,2007-10-08,1399
1544321,17192,17193,LKOH,S,103001000,17081,2,2179.99,5,332168488,2180.00,2007-10-08,1399
1544324,17213,17214,LKOH,B,103001000,17130,2,0.00,50,332168499,2181.99,2007-10-08,129
1544326,17215,17216,LKOH,B,103001000,17053,2,2200.00,3,332168500,2181.99,2007-10-08,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1834830,910304,910305,LKOH,S,174458000,395515,2,0.00,1,332355810,2175.60,2007-10-08,79324
1834832,910306,910307,LKOH,S,174458000,395515,2,0.00,84,332355811,2175.50,2007-10-08,79324
1834835,910309,910310,LKOH,S,174458000,395496,2,0.00,10,332355812,2175.50,2007-10-08,79324
1834836,910326,910327,LKOH,B,174458000,395498,2,0.00,1,332355821,2176.02,2007-10-08,79201
1834839,910329,910330,LKOH,B,174458000,395498,2,0.00,39,332355822,2176.70,2007-10-08,79201

In [5]:
OrderBookPlots2007_dfc['TRADENO'] = OrderBookPlots2007_dfc['TRADENO'].astype(pd.Int64Dtype())
OrderBookPlots2007_dfc.sort_values(by=['NO'], inplace=True)
OrderBookPlots2007_dfc[(OrderBookPlots2007_dfc.PRICE != OrderBookPlots2007_dfc.TRADEPRICE) &
                 pd.notnull(OrderBookPlots2007_dfc.TRADEPRICE)][(OrderBookPlots2007_dfc.SECCODE == 'LKOH') &
                      (OrderBookPlots2007_dfc.DATE == '2007-10-08')]

C:\Users\lt\AppData\Local\Temp\ipykernel_1396\415875008.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  OrderBookPlots2007_dfc[(OrderBookPlots2007_dfc.PRICE != OrderBookPlots2007_dfc.TRADEPRICE) &

,Unnamed: 0,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
1544302,17145,17146,LKOH,S,103001000,17122,2,2179.99,40,332168465,2180.00,2007-10-08,1399
1544318,17169,17170,LKOH,S,103001000,17071,2,2178.90,10,332168477,2180.00,2007-10-08,1399
1544321,17192,17193,LKOH,S,103001000,17081,2,2179.99,5,332168488,2180.00,2007-10-08,1399
1544324,17213,17214,LKOH,B,103001000,17130,2,0.00,50,332168499,2181.99,2007-10-08,129
1544326,17215,17216,LKOH,B,103001000,17053,2,2200.00,3,332168500,2181.99,2007-10-08,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1834830,910304,910305,LKOH,S,174458000,395515,2,0.00,1,332355810,2175.60,2007-10-08,79324
1834832,910306,910307,LKOH,S,174458000,395515,2,0.00,84,332355811,2175.50,2007-10-08,79324
1834835,910309,910310,LKOH,S,174458000,395496,2,0.00,10,332355812,2175.50,2007-10-08,79324
1834836,910326,910327,LKOH,B,174458000,395498,2,0.00,1,332355821,2176.02,2007-10-08,79201
1834839,910329,910330,LKOH,B,174458000,395498,2,0.00,39,332355822,2176.70,2007-10-08,79201

In [6]:
def form_datetimemlls(df):
    scnd_size_df = pd.DataFrame(df.groupby('TIME').size())
    scnd_size_df.reset_index(inplace=True)
    scnd_size_df = scnd_size_df.rename(columns = {0:'SCNDSIZE'})
    df = df.merge(scnd_size_df, on='TIME')
    df['SEC_IND'] = df.groupby(['TIME']).cumcount()
    df['MILLISS'] = round(df['SEC_IND'] / df['SCNDSIZE'] * 1000)
    df['MILLISS'] = df['MILLISS'].astype(int)
    df.drop(['SCNDSIZE', 'SEC_IND'], axis=1, inplace=True)
    df['DATETIME'] = df.apply(lambda row: datetime.datetime.strptime(row.DATE, '%Y-%m-%d'), axis=1)
    df['DATETIMEMLLS'] = df.apply(lambda row: datetime.datetime(row.DATETIME.year,
                                                               row.DATETIME.month,
                                                               row.DATETIME.day,
                                                               int(row.TIME // 1e7),
                                                               int((row.TIME // 1e5) % 100),
                                                               int((row.TIME // 1e3) % 100)),
                                  axis=1)
    df['DATETIMEMLLS'] = df.apply(lambda row: row.DATETIMEMLLS +
                                 datetime.timedelta(milliseconds=row.MILLISS),
                                 axis=1)
    df.drop(['DATETIME', 'MILLISS', 'TIME'], axis=1, inplace=True)
    return(df)

In [7]:
OrderBookPlots2007_df = form_datetimemlls(OrderBookPlots2007_df)
OrderBookPlots2007_df

,Unnamed: 0,NO,SECCODE,BUYSELL,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO,DATETIMEMLLS
0,12,13,LKOH,S,13,1,2343.97,6250,<NA>,NaN,2007-10-08,0,2007-10-08 10:30:00.000
1,45,46,LKOH,S,46,1,2214.00,15,<NA>,NaN,2007-10-08,2,2007-10-08 10:30:00.001
2,73,74,LKOH,B,74,1,1990.00,50,<NA>,NaN,2007-10-08,4,2007-10-08 10:30:00.003
3,75,76,LKOH,S,76,1,2200.00,10,<NA>,NaN,2007-10-08,6,2007-10-08 10:30:00.004
4,76,77,LKOH,B,77,1,2110.00,6,<NA>,NaN,2007-10-08,8,2007-10-08 10:30:00.005
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106652,910327,910328,LKOH,S,394790,2,2176.02,1,332355821,2176.02,2007-10-08,79201,2007-10-08 17:44:58.812
106653,910328,910329,LKOH,S,395200,2,2176.70,39,332355822,2176.70,2007-10-08,79201,2007-10-08 17:44:58.875
106654,910329,910330,LKOH,B,395498,2,0.00,39,332355822,2176.70,2007-10-08,79201,2007-10-08 17:44:58.938
106655,910336,910337,LKOH,S,390647,0,2177.44,10,<NA>,NaN,2007-10-08,78407,2007-10-08 17:44:59.000
106656,910340,910341,LKOH,B,368422,0,2167.01,200,<NA>,NaN,2007-10-08,74637,2007-10-08 17:45:00.000

In [8]:
OrderBookPlots2007_dfc = form_datetimemlls(OrderBookPlots2007_dfc)
OrderBookPlots2007_dfc[(OrderBookPlots2007_dfc.SECCODE == 'LKOH') &
                      (OrderBookPlots2007_dfc.DATE == '2007-10-08')]

,Unnamed: 0,NO,SECCODE,BUYSELL,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO,DATETIMEMLLS
3,12,13,LKOH,S,13,1,2343.97,6250,<NA>,NaN,2007-10-08,0,2007-10-08 10:30:00.001
25,45,46,LKOH,S,46,1,2214.00,15,<NA>,NaN,2007-10-08,2,2007-10-08 10:30:00.007
42,73,74,LKOH,B,74,1,1990.00,50,<NA>,NaN,2007-10-08,4,2007-10-08 10:30:00.011
43,75,76,LKOH,S,76,1,2200.00,10,<NA>,NaN,2007-10-08,6,2007-10-08 10:30:00.012
44,76,77,LKOH,B,77,1,2110.00,6,<NA>,NaN,2007-10-08,8,2007-10-08 10:30:00.012
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360764,910327,910328,LKOH,S,394790,2,2176.02,1,332355821,2176.02,2007-10-08,79201,2007-10-08 17:44:58.765
360765,910328,910329,LKOH,S,395200,2,2176.70,39,332355822,2176.70,2007-10-08,79201,2007-10-08 17:44:58.824
360766,910329,910330,LKOH,B,395498,2,0.00,39,332355822,2176.70,2007-10-08,79201,2007-10-08 17:44:58.882
360768,910336,910337,LKOH,S,390647,0,2177.44,10,<NA>,NaN,2007-10-08,78407,2007-10-08 17:44:59.000
360771,910340,910341,LKOH,B,368422,0,2167.01,200,<NA>,NaN,2007-10-08,74637,2007-10-08 17:45:00.000

In [9]:
class OBPlots2OBPlots_Attributes:
    def __init__(self, OBPs_df):
        self.OBPs_df = OBPs_df
        self.secs = pd.unique(self.OBPs_df.SECCODE)
        self.dates = pd.unique(self.OBPs_df.DATE)
#         print(self.dates)
        self.obplotnos = pd.unique(self.OBPs_df.OBPLOTNO)
        self.obp_atts_dic = {
            sec:datedic for (sec, datedic) in zip(
                self.secs,
                [{
                    date:obps_attsdic for (date, obps_attsdic) in zip(
                        self.dates, 
                        [{} for i in range(len(self.dates))]
                    )
                } for i in range(len(self.secs))]
            )
        }
        self.iterate_ob_rows()
    
    # Accordin to specs ACTION 0 shows balance of order, not cancelled volune of the order, IT'S WRONG
    # Actually, it shows cancelled volune of the order
    def ob2curatt(self, SECCODE, DATE, OBPLOTNO, BUYSELL, ACTION, PRICE, VOLUME, TRADEPRICE):
        if (BUYSELL == 'B') & (ACTION == 0):
            CBOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] -= VOLUME
            return({'ATT': 'CBOVOL', 'VAL': CBOVOL})
        elif (BUYSELL == 'S') & (ACTION == 0):
            CSOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] += VOLUME
            return({'ATT': 'CSOVOL', 'VAL': CSOVOL})
        elif (BUYSELL == 'B') & (ACTION == 1):
            BOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] += VOLUME
            return({'ATT': 'BOVOL', 'VAL': BOVOL})
        elif (BUYSELL == 'S') & (ACTION == 1):
            SOVOL = PRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] -= VOLUME
            return({'ATT': 'SOVOL', 'VAL': SOVOL})
        elif (BUYSELL == 'B') & (ACTION == 2):
            BTVOL = TRADEPRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] -= VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['BPROFIT'] += (TRADEPRICE - PRICE) * VOLUME
            if TRADEPRICE < self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE'] = TRADEPRICE
            elif TRADEPRICE > self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE'] = TRADEPRICE
            return({'ATT': 'BTVOL', 'VAL': BTVOL})
        elif (BUYSELL == 'S') & (ACTION == 2):
            STVOL = TRADEPRICE * VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] += VOLUME
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SPROFIT'] += (PRICE - TRADEPRICE) * VOLUME
            if TRADEPRICE < self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE'] = TRADEPRICE
            elif TRADEPRICE > self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE']:
                self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE'] = TRADEPRICE
            return({'ATT': 'STVOL', 'VAL': STVOL})
        
    def ob_row2obp_atts(self, SECCODE, DATE, NO, BUYSELL, ORDERNO,
                        ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
                        DATETIMEMLLS):
        if OBPLOTNO not in self.obp_atts_dic[SECCODE][DATE]:
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO] = {}
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SHAREBAL'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['BPROFIT'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['SPROFIT'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE'] = 0
            self.obp_atts_dic[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE'] = 0
            
        self.obp_atts_dic[SECCODE][DATE][OBPLOTNO][NO] = self.ob2curatt(SECCODE, DATE, OBPLOTNO, BUYSELL, ACTION, 
                                                                    PRICE, VOLUME, TRADEPRICE)
        self.obp_atts_dic[SECCODE][DATE][OBPLOTNO][NO]['DATETIMEMLLS'] = DATETIMEMLLS
#         print(SECCODE)
#         print(self.obp_atts[SECCODE])
        
    def iterate_ob_rows(self):
        [self.ob_row2obp_atts(SECCODE, DATE, NO, BUYSELL, ORDERNO, 
                              ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
                              DATETIMEMLLS)
        for (SECCODE, DATE, NO, BUYSELL, ORDERNO,
             ACTION, PRICE, VOLUME, TRADEPRICE, OBPLOTNO,
             DATETIMEMLLS)
         in zip(self.OBPs_df.SECCODE,
                self.OBPs_df.DATE,
                self.OBPs_df.NO,
                self.OBPs_df.BUYSELL,
                self.OBPs_df.ORDERNO,
                self.OBPs_df.ACTION,
                self.OBPs_df.PRICE,
                self.OBPs_df.VOLUME,
                self.OBPs_df.TRADEPRICE,
                self.OBPs_df.OBPLOTNO,
                self.OBPs_df.DATETIMEMLLS)]

In [10]:
def obp_atts2order_atts_df(obp_atts):
    badNOcount = 0
    order_atts_dic = {}
    for SECCODE in obp_atts:
        for DATE in obp_atts[SECCODE]:
            for OBPLOTNO in obp_atts[SECCODE][DATE]:
                for NO in obp_atts[SECCODE][DATE][OBPLOTNO]:
                    order_atts_dic[(DATE, NO)] = {}
                    if (NO != 'SHAREBAL') & (NO != 'BPROFIT') & (NO != 'SPROFIT') & (NO != 'OBPMINTPRICE') & (NO != 'OBPMAXTPRICE'):
                        order_atts_dic[(DATE, NO)] = obp_atts[SECCODE][DATE][OBPLOTNO][NO]
                        order_atts_dic[(DATE, NO)]['NO'] = NO
                        order_atts_dic[(DATE, NO)]['OBPLOTNO'] = OBPLOTNO
                        order_atts_dic[(DATE, NO)]['DATE'] = DATE
                        order_atts_dic[(DATE, NO)]['SECCODE'] = SECCODE
                        order_atts_dic[(DATE, NO)]['SHAREBAL'] = obp_atts[SECCODE][DATE][OBPLOTNO]['SHAREBAL']
                        order_atts_dic[(DATE, NO)]['BPROFIT'] = obp_atts[SECCODE][DATE][OBPLOTNO]['BPROFIT']
                        order_atts_dic[(DATE, NO)]['SPROFIT'] = obp_atts[SECCODE][DATE][OBPLOTNO]['SPROFIT']
                        order_atts_dic[(DATE, NO)]['OBPMINTPRICE'] = obp_atts[SECCODE][DATE][OBPLOTNO]['OBPMINTPRICE']
                        order_atts_dic[(DATE, NO)]['OBPMAXTPRICE'] = obp_atts[SECCODE][DATE][OBPLOTNO]['OBPMAXTPRICE']
                        if NO == 253:
                            print('253', DATE)
                    else:
                        if (SECCODE == 'LKOH') & (DATE == '2007-10-08'):
                            badNOcount += 1

    print(badNOcount)
    print(SECCODE, DATE, len(obp_atts['LKOH']['2007-10-08']))
    order_atts_df = pd.DataFrame.from_dict(order_atts_dic, "index")
    order_atts_df.sort_values(by=['DATETIMEMLLS', 'NO'], inplace=True)
    return(order_atts_df)

In [11]:
obp_atts_2007 = OBPlots2OBPlots_Attributes(OrderBookPlots2007_df)
print(len(obp_atts_2007.obp_atts_dic['LKOH']['2007-10-08']))
obp_atts_2007_df = obp_atts2order_atts_df(obp_atts_2007.obp_atts_dic)
obp_atts_2007_df

19721
253 2007-10-08
98605
LKOH 2007-10-08 19721

                      ATT          VAL            DATETIMEMLLS      NO  \
2007-10-08 13       SOVOL  14649812.50 2007-10-08 10:30:00.000      13
           46       SOVOL     33210.00 2007-10-08 10:30:00.001      46
           74       BOVOL     99500.00 2007-10-08 10:30:00.003      74
           76       SOVOL     22000.00 2007-10-08 10:30:00.004      76
           77       BOVOL     12660.00 2007-10-08 10:30:00.005      77
...                   ...          ...                     ...     ...
           910328   STVOL      2176.02 2007-10-08 17:44:58.812  910328
           910329   STVOL     84891.30 2007-10-08 17:44:58.875  910329
           910330   BTVOL     84891.30 2007-10-08 17:44:58.938  910330
           910337  CSOVOL     21774.40 2007-10-08 17:44:59.000  910337
           910341  CBOVOL    433402.00 2007-10-08 17:45:00.000  910341

                   OBPLOTNO        DATE SECCODE  SHAREBAL   BPROFIT  SPROFIT  \
2007-10-08 13             0  2007-10-08    LKOH         0      0.00      0.0
           46             2  2007-10-08    LKOH       -15      0.00      0.0
           74             4  2007-10-08    LKOH        50      0.00      0.0
           76             6  2007-10-08    LKOH       -10      0.00      0.0
           77             8  2007-10-08    LKOH         0      0.00      0.0
...                     ...         ...     ...       ...       ...      ...
           910328     79201  2007-10-08    LKOH      -338  87067.32      0.0
           910329     79201  2007-10-08    LKOH      -338  87067.32      0.0
           910330     79201  2007-10-08    LKOH      -338  87067.32      0.0
           910337     78407  2007-10-08    LKOH         0      0.00      0.0
           910341     74637  2007-10-08    LKOH         0      0.00      0.0

                   OBPMINTPRICE  OBPMAXTPRICE
2007-10-08 13                 0           0.0
           46                 0           0.0
           74                 0           0.0
           76                 0           0.0
           77                 0           0.0
...                         ...           ...
           910328             0        2176.7
           910329             0        2176.7
           910330             0        2176.7
           910337             0           0.0
           910341             0           0.0

[106657 rows x 12 columns]

In [12]:
obp_atts_2007c = OBPlots2OBPlots_Attributes(OrderBookPlots2007_dfc)
print(len(obp_atts_2007c.obp_atts_dic['LKOH']['2007-10-08']))
obp_atts_2007_dfc = obp_atts2order_atts_df(obp_atts_2007c.obp_atts_dic)
obp_atts_2007_dfc[(obp_atts_2007_dfc.SECCODE == 'LKOH') &
                  (obp_atts_2007_dfc.DATE == '2007-10-08')]

19721
253 2007-10-08
253 2007-10-09
98605
LKOH 2007-10-09 19721

KeyboardInterrupt:

In [ ]:
df_vs_dfc = obp_atts_2007_df[list(~obp_atts_2007_df.NO.isin(list(obp_atts_2007_dfc.NO)))]
df_vs_dfc
# list(~obp_atts_2007_df.NO.isin(list(obp_atts_2007_dfc.NO)))
print(len)
obp_atts_2007_df.loc[obp_atts_2007_df.index.isin(obp_atts_2007_dfc[(obp_atts_2007_dfc.SECCODE == 'LKOH') &
#                   ((obp_atts_2007_dfc.DATE == '2007-10-08') | 
                  (obp_atts_2007_dfc.DATE == '2007-10-09')].index)]

In [ ]:
def obp_atts_df2cumsums(df, CBOVOLcs, CSOVOLcs, BOVOLcs, SOVOLcs, BTVOLcs, STVOLcs, grby = ['DATE', 'SECCODE']):
    # cumsums
    df[CBOVOLcs] = df[df.ATT == 'CBOVOL'].groupby(grby)['VAL'].cumsum()
    df[CSOVOLcs] = df[df.ATT == 'CSOVOL'].groupby(grby)['VAL'].cumsum()
    df[BOVOLcs] = df[df.ATT == 'BOVOL'].groupby(grby)['VAL'].cumsum()
    df[SOVOLcs] = df[df.ATT == 'SOVOL'].groupby(grby)['VAL'].cumsum()
    df[BTVOLcs] = df[df.ATT == 'BTVOL'].groupby(grby)['VAL'].cumsum()
    df[STVOLcs] = df[df.ATT == 'STVOL'].groupby(grby)['VAL'].cumsum()
    
    df[[CBOVOLcs,
       CSOVOLcs,
       BOVOLcs,
       SOVOLcs,
       BTVOLcs,
       STVOLcs]] = df[[CBOVOLcs,
                       CSOVOLcs,
                       BOVOLcs,
                       SOVOLcs,
                       BTVOLcs,
                       STVOLcs]].fillna(method="ffill")
    df[[CBOVOLcs,
       CSOVOLcs,
       BOVOLcs,
       SOVOLcs,
       BTVOLcs,
       STVOLcs]] = df[[CBOVOLcs,
                       CSOVOLcs,
                       BOVOLcs,
                       SOVOLcs,
                       BTVOLcs,
                       STVOLcs]].fillna(value = 0.0)
    return(df)

In [ ]:
obp_atts_2007_df = obp_atts_df2cumsums(obp_atts_2007_df, 'CBOVOLtdcs', 'CSOVOLtdcs', 'BOVOLtdcs', 
                              'SOVOLtdcs', 'BTVOLtdcs', 'STVOLtdcs', grby = ['SECCODE', 'DATE'])
obp_atts_2007_df

In [ ]:
obp_atts_2007_df = obp_atts_df2cumsums(obp_atts_2007_df, 'CBOVOLobpcs', 'CSOVOLobpcs', 'BOVOLobpcs', 
                              'SOVOLobpcs', 'BTVOLobpcs', 'STVOLobpcs', grby = ['DATE', 'SECCODE', 'OBPLOTNO'])
obp_atts_2007_df

In [ ]:
def obp_atts2obp_atts_df(order_atts_df):
    def buy_sell_obp(gr):
        buy_minus_sell_vol = gr[gr.ATT == 'BOVOL']['VAL'].sum() - gr[gr.ATT == 'SOVOL']['VAL'].sum()
        if buy_minus_sell_vol > 0:
            return('B')
        elif buy_minus_sell_vol < 0:
            return('S')
        else:
            return('N')
    def trades_notrades(gr):
        trades_count = gr[gr.ATT == 'BTVOL'].size + gr[gr.ATT == 'STVOL'].size
        if trades_count != 0:
            return('T')
        else:
            return('N')
    def obp_buysellyield(gr):
        if trades_notrades(gr) == 'T':
            b_obp_yield = gr.BPROFIT * 100 / gr[gr.ATT == 'BTVOL']['VAL'].sum()
            s_obp_yield = gr.SPROFIT * 100 / gr[gr.ATT == 'STVOL']['VAL'].sum()
            if buy_sell_obp(gr) == 'B':
                return(list(b_obp_yield - s_obp_yield)[0])
            elif buy_sell_obp(gr) == 'S':
                return(list(s_obp_yield - b_obp_yield)[0])
    def obp_td_vol_ratio(gr):
        volratio = (gr.BOVOLobpcs.sum() - gr.CBOVOLobpcs.sum() - gr.BTVOLobpcs.sum() - gr.BPROFIT.sum() +
                   gr.SOVOLobpcs.sum() - gr.CSOVOLobpcs.sum() - gr.STVOLobpcs.sum() - gr.SPROFIT.sum()) / (gr.BOVOLtdcs.sum() - gr.CBOVOLtdcs.sum() - gr.BTVOLtdcs.sum() - gr.BPROFIT.sum() +
                   gr.SOVOLtdcs.sum() - gr.CSOVOLtdcs.sum() - gr.STVOLtdcs.sum() - gr.SPROFIT.sum())
        return(abs(volratio))
    def minmax_dur_tdvol_ratio(gr):
#         delta = max(gr.DATETIMEMLLS) - min(gr.DATETIMEMLLS)
#         delta = delta.total_seconds()
#         print("=============")
#         print(delta)
        minmaxratio = gr.OBPMAXTPRICE - gr.OBPMINTPRICE
        return(abs(list(minmaxratio)[0]))
        
    buy_sell_obp_ser = order_atts_df.groupby(['DATE', 'SECCODE', 'OBPLOTNO']).apply(lambda gr: buy_sell_obp(gr))
    trades_notrades_ser = order_atts_df.groupby(['DATE', 'SECCODE', 'OBPLOTNO']).apply(lambda gr: trades_notrades(gr))
    obp_yield_ser = order_atts_df.groupby(['DATE', 'SECCODE', 'OBPLOTNO']).apply(lambda gr: obp_buysellyield(gr))
    obp_td_vol_ratio_ser = order_atts_df.groupby(['DATE', 'SECCODE', 'OBPLOTNO']).apply(lambda gr: obp_td_vol_ratio(gr))
    minmax_dur_tdvol_ratio_ser = order_atts_df.groupby(['DATE', 'SECCODE', 'OBPLOTNO']).apply(lambda gr: minmax_dur_tdvol_ratio(gr))
    
    df = pd.DataFrame.from_dict({'BUYSELLOBP': buy_sell_obp_ser, 'TRADESNOTRADES': trades_notrades_ser,
                                'BUYSELLYIELD': obp_yield_ser, 'OBPTDVOLRATIO': obp_td_vol_ratio_ser,
                                'MINMAXRATIO': minmax_dur_tdvol_ratio_ser})
    df.reset_index(inplace=True)
    return(df)

In [ ]:
obp_atts_by_obp_2007_df = obp_atts2obp_atts_df(obp_atts_2007_df)
obp_atts_by_obp_2007_df

In [ ]:
obp_atts_by_obp_2007_df = obp_atts_by_obp_2007_df[obp_atts_by_obp_2007_df.TRADESNOTRADES != 'N']
obp_atts_by_obp_2007_df

In [ ]:
obp_atts_by_obp_2007_df = obp_atts_by_obp_2007_df.dropna()
obp_atts_by_obp_2007_df

In [ ]:
plt.hist(obp_atts_by_obp_2007_df.BUYSELLYIELD)

In [ ]:
plt.hist(obp_atts_by_obp_2007_df.OBPTDVOLRATIO)

In [ ]:
plt.hist(obp_atts_by_obp_2007_df.MINMAXRATIO)

In [ ]:
obp_atts_by_obp_2007_df.to_csv('./resources/obp_atts_by_obp_2007_df.csv')