In [1]:
%run OrderBook2OrderBookPlots.ipynb
import os
import regex as re
from time import time

In [2]:
# Inspiration: https://pandasninja.com/2019/04/how-to-read-lots-of-csv-files-easily-into-pandas/
class OrderBookFiles2OrderBookPlots:
    def __init__(self, path_to_OrderBookFiles, fname_year, only_secs = []):
        self.path_to_OrderBookFiles = path_to_OrderBookFiles
        self.OrderBookFiles = os.listdir(path_to_OrderBookFiles)
        self.fname_re = re.compile('^\w+' + str(fname_year) + '.+\.txt$')
        self.match_fnames = [m[0] for m in map(self.fname_re.match, self.OrderBookFiles) if m is not None]
        self.OrderBookPlots_df = pd.DataFrame()
        self.only_secs = only_secs
        self.OrderBookFiles2OrderBookPlots_df()
        
    def OBFile2OBPlots_df(self, fname):
        start = time()
        fnamedate_re = re.compile('^(\w+)(\d{4})(\d{2})(\d{2})')
        date_match = fnamedate_re.match(fname)
        date_dt = pd.to_datetime(date_match[2] + '-' + date_match[3] + '-' + date_match[4]).date()
        OBFile_df = pd.read_csv(self.path_to_OrderBookFiles + fname).assign(DATE=date_dt)
        singlefileOBPlots_df = OrderBook2OrderBookPlots(OBFile_df, 
                                                        'NO', 'SECCODE', 'ORDERNO', 'TRADENO', 
                                                        self.only_secs).OrderBookPlots_df
        end = time()
        print(f"{fname}: {self.only_secs} {end - start:.1f} s")
        return(singlefileOBPlots_df)
    
    def OrderBookFiles2OrderBookPlots_df(self):
        self.OrderBookPlots_df = pd.concat(map(self.OBFile2OBPlots_df, self.match_fnames))

In [3]:
obp = OrderBookFiles2OrderBookPlots('./resources/', 2007, ['LKOH', 'GMKN'])
# obp = OrderBookFiles2OrderBookPlots('./resources/', 2007)
# obp = OrderBookFiles2OrderBookPlots('./resources/for_pres/', 2007, ['LKOH'])
# obp = OrderBookFiles2OrderBookPlots('./resources/', 2002)
obp.OrderBookPlots_df

OrderLog20071008.txt: ['LKOH', 'GMKN'] 246.5 s
OrderLog20071009.txt: ['LKOH', 'GMKN'] 193.1 s

,NO,SECCODE,BUYSELL,TIME,ORDERNO,ACTION,PRICE,VOLUME,TRADENO,TRADEPRICE,DATE,OBPLOTNO
12,13,LKOH,S,103000000,13,1,2343.97,6250,NaN,NaN,2007-10-08,0
45,46,LKOH,S,103000000,46,1,2214.00,15,NaN,NaN,2007-10-08,2
59,60,GMKN,S,103000000,60,1,6800.00,3,NaN,NaN,2007-10-08,0
73,74,LKOH,B,103000000,74,1,1990.00,50,NaN,NaN,2007-10-08,4
75,76,LKOH,S,103000000,76,1,2200.00,10,NaN,NaN,2007-10-08,6
...,...,...,...,...,...,...,...,...,...,...,...,...
981464,981465,LKOH,B,174458000,406731,0,2180.15,1000,NaN,NaN,2007-10-09,57666
981471,981472,LKOH,S,174459000,419375,0,2187.79,389,NaN,NaN,2007-10-09,59536
981473,981474,LKOH,S,174459000,416050,0,2189.00,600,NaN,NaN,2007-10-09,59133
981476,981477,LKOH,S,174500000,415336,0,2188.88,1000,NaN,NaN,2007-10-09,59000
981480,981481,GMKN,S,174500000,366242,0,6881.00,5,NaN,NaN,2007-10-09,69188

In [4]:
obp.OrderBookPlots_df.to_csv('./resources/LKOH-GMKN-2007-10-08-09.csv')
# obp.OrderBookPlots_df.to_csv('./resources/LKOH-2007-10-08.csv')
# obp.OrderBookPlots_df.to_csv('./resources/sec1_sec2_2007.csv')
# obp.OrderBookPlots_df.to_csv('./resources/for_pres/raw_2_OBPlots_df.csv')
# obp.OrderBookPlots_df.to_csv('./resources/LKOH_SBER_GMKN_2007_10.csv')
# rmlf.OrderBookPlots_df.to_csv('./resources/2002.csv')